@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  
}
@layer base {
  :root {
    --convex-yellow: #f3b01c;
    --convex-red: #ee342f;
    --convex-purple: #8d2676;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    font-size: 22px;
  }

  a {
    color: var(--convex-yellow);
  }

  .convex-yellow {
    color: var(--convex-yellow);
  }
  .convex-red {
    color: var(--convex-red);
  }
  .convex-purple {
    color: var(--convex-purple);
  }

  @media screen and (min-width: 800px) {
    :root {
      font-size: 26px;
    }
  }

  @media screen and (min-width: 1000px) {
    :root {
      font-size: 30px;
    }
  }
}

* {
  background-color: transparent;
}

.titleContainer {
  border: 5px solid black;
}

.cardContainers {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  cursor: pointer;
  grid-gap: 1rem;
  width: 100%; /* Initially, the card should be the width of the container */
  height: auto; /* Auto height to fit content */
  transition: width 0.3s; /* Add a smooth transition for the width change */
}

.cardContainer.expanded {
  width: 100%; /* You can set the desired width for the expanded state */
}

.cardContainer {
  background: rgb(101, 201, 237);
  text-align: center;
  padding: 3.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  margin: 2rem;
  width: calc(33.33% - 2rem); /* Distribute equally with margin included */ /* Set a maximum width for the cards */
  max-width: 400px;
  /* visibility: hidden; */
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@media (max-width: 768px) {
  .cardContainers {
    grid-template-columns: 1fr 1fr; /* 2 columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .cardContainers {
    grid-template-columns: 1fr; /* 1 column on even smaller screens */
  }
}

.cardContainer:hover {
  scale: 1.05;
}

.typeDesign {
  color: black;
}

.titleDesign {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 75px;
  font-weight: bolder;
  border-bottom: 5px solid black;
}


.inputDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 450px;
}

.webcamContainer {
  grid-row: 3;
  grid-column: 2;
}

.uploaderContainer {
  grid-column: 2;
  grid-row: 2;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.webcamButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 75px;
}

.webcamButton:hover {
  background-color: #45a049;
}

.titleContainer {
  background-image: url(./assets/download.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #FFFFFF;
}
